<h1>Food Search Results</h1>
<h3>Total Results: <%= @total_hits %></h3>

<div id="food-results">
<ul>
  <% @foods.each do |food| %>
    <li>
      <%# for some reason, the gtinUpc code field doesn't work, but fdcId works for example just fine?? %>
      <p>GTIN/UPC code: <%= food[:gtinUpc] %></p>
      <p>Description: <%= food[:description] %></p>
      <p>Brand Owner: <%= food[:brandOwner] %></p>
      <p>Ingredients: <%= food[:ingredients] %></p>
    </li>
  <% end %>
</ul>
</div>
